<!DOCTYPE html>
<html lang="en">
	<head>
		<!-- CHARACTOR -->
		<meta charset="utf-8">
		<!-- VIEWPORT -->
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- TITLE -->
		<title></title>
		<!-- FONTAWESOME -->
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
		<!-- BOOTSTRAP CSS -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
		<!-- ORIGINAL CSS -->
		<link rel="stylesheet" href="css/main.css">
	</head>
	<body>

		<div id="app1">
			<h4>Section 3 Lec 34</h4>
			<!-- v-if - completely remove from HTML (no hidden nor hide) -->
			<p v-if="show">You can see me! <span>Hello!</span></p>
			<p v-else>Now you see me</p>
			<!-- v-shoe - hide element insted of removing -->
			<p v-show="show">Do you see me?</p>

			<!-- you can wrap multiple tags by using template -->
			<template v-if="show">
				<h5>This is heading5</h5>
				<p>Now using template</p>
			</template>
			<button type="button" v-on:click="show =!show">click!</button>
		</div>

		<div id="app2">
			<h4>Sec3 Lec38 Looping</h4>
			<ul>
				<!-- looping array -->
				<li v-for="ingredient in ingredients">{{ ingredient }}</li>
				<!-- display index. order is important (element, index) - you can name it -->
				<li v-for="(ingredient,i) in ingredients">{{ ingredient }} ({{ i }})</li>
					<!-- use template if you want to create multipla elements -->
				<hr>
				<div v-for="(ingredient, index) in ingredients" v-bind:style="{color: 'blue'}">
					<h5>{{ ingredient }}</h5>
					<p>{{ index }}</p>
				</div>
				<hr>
				<p>Looping object</p>
				<div v-for="person in persons">
					<p>{{ person.name }}</p>
				</div>
				<hr>
				<li v-for="person in persons">
					<div v-for="(value, key, index) in person">{{ key }}: {{ value }} ({{ index }})</div>
				</li>


			</ul>
		</div>




<!-- JQUERY -->
		<!-- Vue.js -->
		<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
		<!-- Vue.js Router -->
		<script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
		<!-- JQuery / This gives access to the jquery library -->
		<script src="http://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>		<!-- Bootstrap Popper / Popper is required for bootstrap 4 JS functionality -->
		<!-- Bootstrap Popper / Popper is required for bootstrap 4 JS functionality -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
		<!-- Bootstrap JS plugin / This makes bootstrap 4 JS work -->
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
		<!-- Original custom JS -->
  	<script type="text/javascript" src="js/main.js"></script>


	</body>
</html>
